<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DefaultFileType" value="*.*"/>
    <add key="FileTypes" value="*.*;*.ltx;*.xml;*.script"/>
    <!-- Custom path to Notapad++ exe -->
    <!--
    <add key="NotepadPluPlusPath" value="C:\Program Files\Notepad++\notepad++.exe"/>
    -->
  </appSettings>
</configuration>